<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
</head>
<body>
    <h2>User information</h2>
    <table width="20%">
        <tr align="left">
            <th>NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
        </tr>
        <tr>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
        </tr>
    </table>
    <br/>
    <form th:action="@{/logout}" th:method="post">
        <input type="submit" th:value="Logout"/>
    </form>

</body>
</html>